* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

.player {
  width: 60px;
  height: 60px;
  background-color: #00ade1;
  position: fixed;
  border-radius: 50%;
  border: 5px solid #0081a8;
}

.map {
  position: relative;
  background: linear-gradient(90deg, #c7c7c7 2px, transparent 2px),
    linear-gradient(#c7c7c7 2px, transparent 2px);

  background-size: 35px 35px;

  background-color: #cdcdcd;
}
