* {
  margin: 0;
  padding: 0;
}

.player {
  width: 60px;
  height: 60px;
  background-color: #00ade1;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  border: 5px solid #0081a8;
}

body {
  background: linear-gradient(90deg, #c7c7c7 0.1em, transparent 0.1em),
    linear-gradient(#c7c7c7 0.1em, transparent 0.1em);

  background-size: 35px 35px;

  background-color: #cdcdcd;
}
